<div class="container">
	<div class="row">
		<div class="col-md-2">
			
		</div>

		<div class="col-md-5">
			<%= form_for :content, url: '/contents' do |f| %>
				<form class="form-control">

				<%= render 'helpers/client_form' %>
		</div>
		<div class="col-md-5">
				<div class="page-header">
					<h3>Datos para Cotizar</h3>
				</div>
				<!--Fire_form -->
				<div class="form-group">
					<%= f.label :Valor_que_posee_en_contenido_de_la_residencia %> 
					<%= f.number_field :value_of_content, :placeholder => "Valor del Contenido", :class => "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :Dirección_de_la_residencia %> 
					<%= f.text_field :address, :placeholder => "Dirección fisica del lugar", :class => "form-control" %> 
				</div>
				<div class="form-group">
					<%= f.label :Commentarios %> 
					<%= f.text_area :comments, :placeholder => "Commentarios", :class => "form-control" %>
				</div>			
					<button type="submit" class="btn btn-default">Enviar</button>
				</form>
			<% end %>
		</div>
	</div>
</div>
<br>
<br>

