<div class="container">
	<div class="row">
		<div class="col-md-4"></div> <!-- empty_column -->
		<div class="col-md-4">
			<%= form_for :content, url: '/contents' do |f| %>
			<%= render 'helpers/client_form' %>
			<h3>Datos para cotizar</h3>
			<br>
			<!--Fire_form -->
			<div class="field">
				<%= f.label :Valor_que_posee_en_contenido_de_la_residencia %> <br>
				<%= f.number_field :value_of_content %>
			</div>
			<div class="field">
				<%= f.label :Dirección_de_la_residencia %> <br>
				<%= f.text_field :address %> <br>
			</div>
			<div class="field">
				<%= f.label :Commentarios %> <br>
				<%= f.text_area :comments %> <br>
			</div>			
			<br>
			<%= f.submit "Enviar" %>
			<% end %>
			
		</div>
		<div class="col-md-4"></div> <!-- empty_column -->
	</div>
</div>
<br>
<br>