<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Cotización <a href="www.jwseguros.com">JW Seguros</a></h3>
            <p>Gracias por confiar en nosotros, <%= Client.last.fullname %> <br> En breves uno de nuestros asesores se pondra en contacto con usted.
              <h4>Información de la cotización</h4>
              <p>
                <ul>
                  <%= render '/user_mailer/mail_helper/client_info' %>
                    <h5>Datos del autómovil</h5>
                  <li>
                    <p>Marca: <%= @car.brand %>.</p>
                  </li>
                  <li>
                    <p>Modelo: <%= @car.model %>.</p>
                  </li>
                  <li>
                    <p>Año: <%= @car.year %>.</p>
                  </li>
                  <li>
                    <p>Tipo de uso : <%= @car.price %>.</p>
                  </li>
                  <li>
                    <p>Cobertura: <%= @car.coverage %>.</p>
                  </li>
                  <li>
                    <p>Commentarios: <%= @car.comments %>.</p>
                  </li>
                </ul>
              </p>
            </p>
            <p>
              
            </p>
            <p>
              <p>Si desea realizar otra cotización haga click en el siguiente enlace: <%= @url%>
              </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
