<h5>Información Personal</h5>
  <li>
    <p>Nombre: <%= @client.fullname%>.</p>
  </li>
  <li>
    <p>Email: <%= @client.email%>.</p>
  </li>
  <li>
    <p>Teléfono: <%= @client.phone%>.</p>
  </li>
  <li>
    <p>Celular: <%= @client.phone%>.</p>
  </li>
  <li>
    <p>Fac: <%= @client.fax%>.</p>
  </li>
  <li>
    <p>Fecha de nacimiento: <%= @client.birthdate%>.</p>
  </li>
  <li>
    <p>Género: <%= @client.gender%>.</p>
  </li>
  <li>
    <p>Edad: <%= @client.age%>.</p>
  </li>