<%= form_for :client, :url=>{:controller=>"ClientsController",:action=>"new"} do |f| %>
  <h4>Información personal</h4>

  <div class="field">
    <%= f.label :Nombre_completo %><br>
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :Telefono %><br>
    <%= f.telephone_field :phone %>
  </div>  
  <div class="field">
    <%= f.label :Celular %><br>
    <%= f.telephone_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label :Fax %><br>
    <%= f.telephone_field :fax %>
  </div>
  <div class="field">
    <%= f.label :Fecha_de_nacimiento %><br>
    <%= f.date_select :birthdate, :start_year => 1940 %>
  </div>
  <div class="field">
    <%= f.label :Genero %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :Edad %><br>
    <%= f.text_field :age %>
  </div>

  <% f.fields_for @car, :url=>{:controller=>"CarController",:action=>"new"} do |c| %>
  <h4>Información del vehículo</h4>
    <div class="field">
      <%= c.label :Marca %><br>
      <%= c.text_field :brand %>
    </div>
    <div class="field">
      <%= c.label :Precio %><br>
      <%= c.text_field :price %>
    </div>
    <div class="field">
      <%= c.label :Modelo %><br>
      <%= c.text_field :model %>
    </div>
    <div class="field">
      <%= c.label :Año %><br>
      <%= c.select :year, (Time.zone.now.year - 20)..(Time.zone.now.year + 1) %>
    </div>
  <% end %>
  <div type="submit" class="actions" >
    <br>
    <%= f.submit "Enviar" %>
  </div>
<% end %>