<ul class="nav nav-pills nav-stacked side_menu">
  <li role="presentation"> <%= link_to "Automovil", new_car_path %> </li>
  <li role="presentation"><%= link_to "Incendio", new_fire_path %></li>
  <li role="presentation"><%= link_to "Salud", new_health_path %></li>
  <li role="presentation"><%= link_to "Vida", new_life_path %></li>
  <li role="presentation"><%= link_to "Fianza", new_surety_path %></li>
  <li role="presentation"><%= link_to "Contenido", new_content_path %></li>
</ul>