<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<%= form_for :life, url: '/lives' do |f| %>
			<form class="form-control">
				<%= render 'helpers/client_form' %>
				<!--Life_form -->
				<div class="form-group">
					<%= f.label :Suma_asegurada %> 
					<%= f.text_field :sum_assured, :placeholder => "Suma Asegurada", :class => "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :Estado_civil %> <br>
					<%= f.select(:marital_status, options_for_select([['Casado', 'Married'], ['Soltero', 'Single']])) %>
				</div>
				<div class="form-group">
					<%= f.label :Commentarios %> 
					<%= f.text_area :comments, :placeholder => "Commentarios", :class => "form-control" %>
				</div>			
					<button type="submit" class="btn btn-default">	Enviar
					</button>
				</form>
			<% end %>
		</div>
		<div class="col-lg-6"> <!-- empty_column -->
		</div>
	</div>
</div>
<br>
<br>