<div class="container">
	<div class="row">

			<%= render 'helpers/side_menu' %>
	
		<div class="col-md-8 form-top-text">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <p>Si desea cotizar un seguro de vida favor llene el siguiente formulario y uno de nuestros asesores se pondrá en contacto con usted pronto.</p>
			  </div>
			</div>
		</div>
		<div class="col-md-4"></div> <!-- empty_column -->
		<div class="col-md-8">
			<div class="panel panel-default">
			  <div class="panel-body">
					<%= form_for :life, url: '/lives' do |f| %>
					<form class="form-control">
						<%= render 'helpers/client_form' %>
						<!--Life_form -->
						<div class="form-group">
							<%= f.label :Suma_asegurada %> 
							<%= f.number_field :sum_assured, :placeholder => "Suma Asegurada", :class => "form-control" %>
						</div>
						<div class="form-group">
							<%= f.label :Estado_civil %> <br>
							<%= f.select(:marital_status, options_for_select([['Casado', 'Married'], ['Soltero', 'Single']])) %>
						</div>
						<div class="form-group">
							<%= f.label :Commentarios %> 
							<%= f.text_area :comments, :placeholder => "Commentarios", :class => "form-control" %>
						</div>			
							<button type="submit" class="btn btn-default">
							Enviar</button>
						</form>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>