<div class="container">
	<div class="row">
		<div class="col-md-2"></div> <!-- empty_column -->
		<div class="col-md-6">
			<br>
			<%= form_for :car, url: '/cars' do |f| %>
			<%= render 'helpers/client_form' %>
			<h3>Datos del auto</h3>
			<br>
			<!--Car_form -->
			<div class="field">
				<%= f.label :Marca %> <br>
				<%= f.text_field :brand %>
			</div>
			<div class="field">
				<%= f.label :Modelo %> <br>
				<%= f.text_field :model %> <br>
			</div>
			<div class="field">
				<%= f.label :Valor_nuevo %> <br>
				<%= f.number_field :price %> <br>
				<p>Ejemplo: 10,500.00</p>
			</div>
			<div class="field">
				<%= f.label :Año %> <br>
				<%= f.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1) %>
			</div>
			<div class="field">
				<%= f.label :Uso_del_auto %> <br>
				<%= f.select(:use, options_for_select([['Comercial', 'Comercial'], ['Particular', 'Particular']])) %>
			</div>
			<h3>Cobertura</h3>
			<div class="field">
				<%= f.label :Cobertura %> <br>
				<%= f.select(:coverage, options_for_select([['Completa', 'Complete'], ['Solo daños a terceros', 'damage to third parties']])) %>
			</div>
			<div class="field">
				<%= f.label :Comentarios %> <br>
				<%= f.text_area :comments %> <br>
			</div>
			
			<br>
			<%= f.submit "Enviar" %>
			<% end %>
			
		</div>
		<div class="col-md-4"></div> <!-- empty_column -->
	</div>
</div>
<br>
<br>